.container-info {
  display: flex;
  align-items: self-start;
  justify-content: center;
  padding: 30px;
  gap: 20px;
  height: auto;
  @media (max-width: 600px) {
    flex-direction: column;
  }

  &__img {
    @media (max-width: 600px) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    img {
      width: 400px;
      height: 500px;
      border-radius: 5px;
      box-shadow: 4px 4px 4px 4px #6d0c0c;
      @media (max-width: 768px) {
        width: 300px;
        height: 400px;
      }
      @media (max-width: 600px) {
        width: 200px;
        height: 300px;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    height: 100%;
    justify-content: center;
    @media (max-width: 600px) {
      width: 100%;
    }

    h1 {
      font-size: xx-large;
      font-weight: 700;
      position: relative;
      @media (max-width: 768px) {
        font-size: x-large;
      }
      @media (max-width: 600px) {
        font-size: large;
      }

      &::after {
        content: "";
        display: block;
        width: auto;
        height: 2px;
        background-color: #6d0c0c;
        margin-top: 10px;
      }
    }
    label {
      line-height: 24px;
      @media (max-width: 768px) {
        line-height: 18px;
      }
      @media (max-width: 600px) {
        font-size: small;
      }
    }
    h1,
    label {
      color: white;
      font-family: cursive;
    }

    .titleFont {
      font-size: larger;
      @media (max-width: 768px) {
        font-size: medium;
      }
    }

    .release {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: start;
    }

    &__genres {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding-left: 10px;
      li {
        color: white;
      }
    }
  }
}
